<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/advice/new.css" />
<%- include('../partials/nav') %>

<main class="advice-new">
  <section>
    <h1><%= title %></h1>
    <form action="/advice/<%= advice._id %>?_method=PUT" method="POST">
      <div>
          <label>Advice </label>
          <textarea name="advice" value="<%= advice.advice%>"><%= advice.advice%></textarea>
      </div>
      <div>
          <label>Years together </label>
          <input name="years" value="<%= advice.years%>"></input>
       </div>
       <div>
          <label>Name</label>
          <input name="from" value="<%= advice.from%>"></input>
      </div>
      <div>
        <button type="submit">Save Advice</button>
        <a href="/advice">Back</a>
      </div>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>