<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/advice/index.css" />
<%- include('../partials/nav') %>

  <% advice.forEach(ad => { %>
  <div div class="grid-container">
      <div class = "advice"><%=ad.advice%></div>
      <div class = "from">From: <%=ad.from%></div>
      <div class = "years">Together for <%=ad.years%> years</div>
      <div>
        <form action="/advice/<%=ad._id%>/edit" method="GET">
        <button class="edit" type="submit">edit</button>
        </form>
      </div>
      <div>
        <form action="/advice/<%=ad._id%>?_method=DELETE" method="POST">
        <button class="delete" type="submit">delete</button>
        </form>
      </div>
  </div>
  <br>
  
  <% }) %>
  
  <a href="/advice/new">Add Advice</a>
 
<%- include('../partials/footer') %>
