<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/advice/index.css" />
<%- include('../partials/nav') %>

<section>
  <table div class="labels">
    <tr>
      <th>Words of Wisdom</th>
      <th>Years together</th>
    </tr><br>
  <% advice.forEach(ad => { %>
    <div class = "advice">
      <tr>
        <td><%=ad.advice%></td>
        <td><%=ad.years%></td>
      
        <td>
        <form action="/advice/<%=ad._id%>/edit" method="GET">
          <button class="btn" type="submit">edit</button>
        </form>
        </td>
        
        <td>
        <form action="/advice/<%=ad._id%>?_method=DELETE" method="POST">
          <button class="btn" type="submit">delete</button>
        </td>
      </tr>
    </div>

  <% }) %>
  
  <a href="/advice/new">Add Advice</a>
  </section>

<%- include('../partials/footer') %>
