<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/trivia/home.css" />
<%- include('../partials/nav') %>

<section>
<h2 id="text">I'll display one trivia at a time... you tell me who it's about. Ready? </h2>
<h2><%= trivia.trivia %></h2>
<a href="/trivia/play/<%=trivia.idx+1%>">Play!</a>
</section>

<%- include('../partials/footer') %>