<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/trivia/index.css" />
<%- include('../partials/nav') %>

<main class="trivia-index">
  <section>
  <h2 id="text">Guess who...  </h2>
  <h3><%= trivia.trivia %></h3>
  <div class="play-div">
    <a href="/trivia/play/<%=trivia.idx+1%>">Play!</a>
    <a href="/trivia/home">Back</a>
  </div>
  </section>
</main>

<%- include('../partials/footer') %>