<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/questions/home.css" />
<%- include('../partials/nav') %>

<main class = "question-view">
  <section>
    <h1>Ask the couple a question!</h1>
    <% question.forEach(q => { %>
      <div>
        <p><%=q.question %></p>
        <%if (q.owner.equals(user?.profile._id)) { %>
          <form action="/questions/<%=q._id%>/edit" method="GET">
            <button class="btn" type="submit">edit</button>
          </form>
          <form action="/questions/<%=q._id%>?_method=DELETE" method="POST">
            <button class="btn" type="submit">delete</button>
          </form>
        <% } %>
      </div>
    <% }) %>
    <a class = "button" href="/questions/new">Add Question</a>
  </section>
</main>

<%- include('../partials/footer') %>